body {
    background-color: #141414;
    text-align: center;
}

div {
    color: white;
}

image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#copyright {
    color: white;
    font-size: 10px;
}