body {
    background-color: #141414;
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

div {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    max-width: 50%;
}

#copyright {
    color: white;
    font-size: 10px;
}